/*Inicio do estilo icone*/
.icons-redesociais { /*classe*/
  position: fixed; /*os ícones ficaram fixo, mesmo se mudar de página */
  bottom: 10px; /*distância de 10 pixels entre os ícones e a parte inferior da janela do navegador.*/
  left: 10px; /* Move os ícones para a margem esquerda */
  display: flex; /*permite que os ícones fiquem flexíveis*/
  flex-direction: row; /*ícones em forma de linnha (horizontal)*/
  font-size: 25px; /* Tamanho dos ícones */
}

.fa {
  color: #a0a0a7; /* cor dos ícones */
  /*text-shadow: 0 0 10px #0072ff, 0 0 20px #0072ff, 0 0 30px #0072ff, 
    0 0 40px #0072ff; sombra dos ícones com  diferentes profundidades e azul */
  margin-left: 20px; /*espaçamento entre os ícones */
  /*animation: animate 3s linear infinite; /*duração de 3s, porem é linear (Constante) e infinite (repetir sem parar)*/
}

#instagram {
  animation-delay: 0s; /*Animação começa automáticamente*/
}

#whatsapp {
  animation-delay: 0.3s; /*animação em 0,3s */
}

#github {
  animation-delay: 0.6s; /*animação e 0,6s*/
}

@keyframes animate {
  from {
    filter: hue-rotate(0deg); /* No início da animação, a cor permanece inalterada (0 graus de rotação de matiz). */
  }
  to {
    filter: hue-rotate(360deg); /* No final da animação, a cor é alterada para uma rotação completa de 360 graus no espectro de cores. */
  }
}
/*Fim estilo icones */

/*Inicio Estilo menu*/
@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap"); /*Importando uma fonte e &display=swap, garante que tudo ocorra bem*/

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-image: url('preto1.jpeg');
  background-size: cover;  /*imagem de fundo cubra toda a área do elemento*/
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}


.container {
  position: fixed;
  top: 50%;
  right: 50%;
  transform: translateY(-50%); /* ajusta o elemento para que seu centro coincida com o centro da janela, tanto verticalmente quanto horizontalmente.*/
}

.navigation {
  position: fixed;
  top: 0; /* Alinhe o contêiner no topo da página */
  left: 87%; /* Centralize horizontalmente */
  transform: translateX(-50%); /* Centralize horizontalmente */
  width: 30%; /* Largura do contêiner */
  height: auto; /* Ajuste a altura com base no conteúdo */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100; /*para ficar a frente, como se fosse uma camada a frente */
}
    
.navigation li {
    position: relative;
    list-style: none;
    width: 71px;
    margin: 58px 0; /* Reduza o valor para diminuir o espaçamento */
}

.navigation li::before {
  content: "";
  position: absolute;
  top: 35px;
  left: 50%;
  transform: translateX(-50%);
  width: 8px;
  height: 8px;
  background: #222;
  border-radius: 50%;
  transition: 0.5s; 
}

.navigation li.active::before {
  background: rgb(31, 101, 231);
  box-shadow: 0 0 5px #a0a0a7, 0 0 10px #a0a0a7, 0 0 20px #a0a0a7, 0 0 30px #a0a0a7,
    0 0 40px #a0a0a7, 0 0 50px #a0a0a7;
}

.navigation li a .icon {
    position: absolute;
    font-size: 1.66em;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaa;
    border-radius: 50px;
    transition: 0.5s;
    transition-delay: 0.2s;
    flex-direction: column;
    top: 50%; /* Centralize verticalmente */
    transform: translateY(-50%); /* Centralize verticalmente */
}

.navigation li a .icon {
  position: absolute;
  font-size: 1.66em;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #aaa;
  border-radius: 50px;
  transition: 0.5s;
  transition-delay: 0.2s;
  flex-direction: column;
}

.navigation li.active a .icon {
  background: var(--Gradient, linear-gradient(180deg, #6E3DC8 -15%, #6781F7 100%, #6781F7 100%));
  color: #fff;
  transform: translateY(-55px);
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.25),
    inset 2px 2px 3px rgba(255, 255, 255, 0.25),
    inset -3px -3px 5px rgba(0, 0, 0, 0.5);
  transition-delay: 0s;
}

.navigation li a .icon::before {
  content: "";
  position: absolute;
  inset: 10px;
  background: #2f363e;
  border-radius: 50%;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5),
    inset 2px 2px 3px rgba(255, 255, 255, 0.25),
    inset -3px -3px 5px rgba(0, 0, 0, 0.5);
  transform: scale(0);
  transition: 0.5s;
}

.navigation li.active a .icon::before {
  transform: scale(1);
}

.navigation li a .text {
    position: absolute;
    font-size: 0.75em;
    color: #2f363e;
    opacity: 0;
    transform: translateY(50%); /* Adicione esta linha para centralizar o texto verticalmente */
    padding: 2px 10px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.25),
    inset -3px -3px 5px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
    transition-delay: 0s;
}

.navigation li.active a .text {
    opacity: 1;
    transform: translateY(0); /* Redefina a transformação vertical */
    transition-delay: 0.2s;
}
/*fim do estilo menu*/
/*estilo logo*/
.header {
  display: flex;
  justify-content: space-between; /* Alinha o conteúdo do header nas extremidades */
  align-items: center; /* Alinha verticalmente no centro */
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; /* Ocupa toda a largura da página */
  
}

.logo-container {
  display: flex;
  align-items: center; /* Alinha verticalmente no centro */
  margin-left: 20px;
  margin-top: -20px;
}

.logo-container img {
  width: 100px; /* Ajuste o tamanho do logotipo conforme necessário */
  height: 100px;
}

/*Parte quem somos */
.neon-container {
  text-align: center;
  padding: 20px;
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%; /* Para ocupar a largura total da página */
}

.neon-container img {
  width: 900px; /* Defina a largura desejada para a imagem */
  height: auto; /* Isso manterá a proporção original da imagem */
  position: absolute; /* Torna a posição da imagem absoluta */
  top: -170px; /* Posiciona a partir do topo */
  left: 700px; /* Centraliza horizontalmente */
  transform: translateX(-50%) rotate(-5deg) ; /* Centraliza horizontalmente */
}

